language: python
python: 2.7
env:
- TOXENV=py26
- TOXENV=py27
install:
- pip install tox --use-mirrors
- pip install -r requirements.txt --use-mirrors
- pip install -r test-requirements.txt --use-mirrors
before_script:
- mkdir -p log
script:
- tox
after_script:
- rm -rf log
branches:
  only:
    - master
