include README.md
include LICENSE
include NOTICE.md
include requirements.txt
include requirements-docs.txt
include requirements-test.txt
include pytest.ini
include tox.ini

recursive-include tests *.py

recursive-exclude steenzout.serialization *.pyc
recursive-exclude steenzout.serialization *.pyo
